.header {
  padding: 30px;
  position: fixed;
  //
  left: 21vw;
  bottom: 3vh;
  z-index: 1009;

  .button_container {
    background-color: rgb(41, 41, 41);
    width: 49vw;
    height: 100px;
    display: flex;
    border-radius: 25px;
    align-items: flex-end;
    justify-content: flex-end;
    opacity: 90%;

    .button {
      width: 80px;
      height: 80px;
      margin: 10px;
      border-radius: 50%;
      background-color: #455ce9;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .burger {
    width: 100%;
    &::after,
    &::before {
      content: "";
      display: block;
      height: 1px;
      width: 40%;
      margin: auto;
      background-color: white;
      position: relative;
      transition: transform 0.3s;
    }

    &::after {
      top: -5px;
    }

    &::before {
      top: 5px;
    }
  }

  .burgerActive {
    &::after {
      transform: rotate(45deg);
      top: -1px;
    }

    &::before {
      transform: rotate(-45deg);
      top: 0px;
    }
  }
}
